.navbar-overlap-fix{
  padding-top: 70px;
}

.portrait {
  width: 20%;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: top;
}

.footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
