.navbar-overlap-fix{
  padding-top: 70px;
}

.portrait {
  width: 28%;
  min-width: 150px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: right;
}

.footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.container {
  max-width: 700px;
}

.description {
  text-align: justify;
}

.navbar-collapse.collapse {
  text-align: center;
  padding-bottom: 0;
}

.navbar-nav {
  display: inline-block;
  float: none;
  margin: 0;
}
