---
layout: page
pagination:
  enabled: true
  trail:
    before: 2
    after: 2
title: Blog
---

<div class="posts">
  <hr>
  {% for post in paginator.posts %}
  <div class="post">
    <span class="post-date">{{ post.date | date_to_string }}</span>
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    {{ post.excerpt }}
    <a href="{{ post.url }}">Continue reading</a>
    <hr>
  </div>
  {% endfor %}
</div>


<!-- Navigation Breadcrumb -->

{% if paginator.page_trail %}

<!-- Find relative page numbers. Arrays are 0-indexed and pages are 1-indexed
  Prev page is minus 2 because of 0 indexing in arrays.
  Next page is the same because of 0 indexing in arrays. -->
{% assign curr_page = page.pagination_info.curr_page %}
{% assign prev_page = curr_page | minus: 2 %}
{% assign next_page = curr_page %}
{% assign total_pages = page.pagination_info.total_pages %}

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">

    <!-- This is the previous button -->
    <li class="page-item {% if curr_page == 1 %}disabled{% endif %}">
      <a class="page-link" href="{% if curr_page != 1%}{{ paginator.page_trail[prev_page].path | prepend: site.url }}{% endif %}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    
    <!-- This is the page numbers -->
    {% for trail in paginator.page_trail %}
    <li class="page-item {% if page.url == trail.path %}active{% endif %} ">
        <a class="page-link" href="{{ trail.path | prepend: site.url }}" title="{{trail.title}}">{{ trail.num }}</a>
    </li>
    {% endfor %}

    <!-- This is the next button -->
    <li class="page-item {% if curr_page == total_pages %}disabled{% endif %}">
      <a class="page-link" href="{% if curr_page != total_pages%}{{ paginator.page_trail[next_page].path | prepend: site.url }}{% endif %}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>

  </ul>
</nav>

{% endif %}
