/*-- CSS for index.html --*/

/*-- Fade In animation --*/
@keyframes fadeIn { from {opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;
	animation: fadeIn ease-in 1;

	animation-fill-mode: forwards;
	
	animation-duration: 1s;
}

.fade-in.one {
	animation-delay: 0.7s
}

.fade-in.two {
	animation-delay: 1.5s
}

.fade-in.three {
	animation-delay: 3s
}

.fade-in.four {
	animation-delay: 4.5s
}

.fade-in.five {
	animation-delay: 6s
}

.fade-in.six {
	animation-delay: 7.5s
}

.fade-in.seven {
	animation-delay: 9s
}

.fade-in.eight {
	animation-delay: 11s
}

/*--animation ends--*/

.title {
	text-align: center;
	font-weight: bold;
	font-family: 'Amatic SC', cursive;
	font-size: 5em;
	font-color: #1a1a1a;
}

.intro {
	margin-left: 100px;
	margin-right: 150px;
	font-family: 'Atma', cursive;
	font-size: 2.5em;
	font-color: #303030;
}

span {
	text-align: center;
	margin: auto;
	display: block;
}